@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-link: #0f766e;
  --color-success: #0f766e;
  --color-background: #f8fafc;
  --color-success-dark: #134e4a;
}

html {
  background: #f8fafc;
}

body {
  min-height: 100vh;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}
